
<% include partials/header %>


<div class = "container home">
    <h2 style = "text-align: center; padding-bottom: 35px;font-size:30px;">Serving Austin and Surrounding Areas since 2007</h2>
    <h2>Info/Statement about Conde Auto Glass</h2>
    <p class = "info">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    <hr>
</div><!--end of container-->
<div class = "container-wrapper" style = "background: steelblue;">
    <div class = "container about" style="text-align: center;">
        <div class = "row">
            <div class = "col-lg-6 hidden-sm">
                <h4 style = "color: white;">Sixto Garza - Owner</h4>
                <p style = "border-right: 5px solid #bdc3c7;padding-right: 10px;" class = "profile-info">
                Sixto moved to Texas in 2006 to start his own trucking business, Conde Trucking after working in Illinois for nearly 30 years. In 2007, his younger brother Carlos came to Austin and showed him how to install windsheilds. The business began with replacing windshields on the Conde trucks only. Over time the phone began ringing more for glass than trucking. Success for Conde Auto Glass exploded thanks to Sixto's respect and trust from the many truckers and companies he worked with under Conde Trucking. Over the years Sixto has installed and cut glass on every type of Semi and various types of heavy machinery.</p>
            </div>
            <div class = "col-lg-6">
        		<img style = "text-align:center;max-width:50%;" src="/sixto_selfie.jpg" >
            </div>    
        </div>
    </div>
    <div class = "container about" style="text-align: center;">
        <div class = "row">
            <div class = "col-lg-6">
        		<img style="" src="/danny_selfie.jpg" >
            </div> 
            <div class = "col-lg-6 hidden-sm">
                <h4 style = "color: white;">Danny Garza - Co-Owner</h4>
                <p style = "border-left: 5px solid #bdc3c7;padding-left: 10px;" class = "profile-info">
                    Danny began working for Conde Auto Glass in 2011 to 2014.  He decided to walk away from the business to learn and experience trucking for himself.  Conde Auto Glass continued to prosper and grow during his absence. In 2017, Danny came back to the family business to finish what he started, but as partner/co-owner. 
            </div>
        </div>
    </div>
</div>


<div class = "container about">
    
    <h2 id = "services">Services</h2>
    <div>
        <ol>
            <li>We are experts at replacing windshields on semi's. We can replace roof windows, replace and cut back glass, door vents. The most popular semi truck brands: Freightliner, Isuzu, Kenworth, Navistar, Mack, Peterbilt, International, Volvo, Western Star </li>
            <li>Windshield replacement for almost all types: vent windows, door glass, back glass, quarter windows, side glass, power window repair</li>
            <li>We handle windshield replacement on all types of brands and models. Here is a list of brands: Acura, Audi, BMW, Buick, Cadillac, Chevrolet, Chrysler, Dodge, Fiat, Ford, GMC, Honda, Hummer, Hyundai, Infiniti, Isuzu, Jaguar, Jeep, Kia, Land Rover, Lexus, Lincoln, Mazda, Mercedes-Benz, MINI, Mitsubishi, Nissan, Porsche, Saturn, Scion, Smart, Subaru, Tesla, Thomas, Toyota, Volkswagen</li>
            <li>Glass Replacement/Cutting on Heavy Machinery, like CAT and John Deere machines. We can walk you through the steps to order the proper replacement. </li>
            <li>Glass cutting and replacement on any type of flat windshield/glass. Most popular types of cuts are back glasses for semis and heavy machinery.  It varies, but it is more expensive to order the original brand glass than having us cut the glass. Check out the <a style = "" href = "/gallery" >gallery</a> to see the many glasses we've cut and installed. </li>
            <li>Once we've installed a windshield, we offer a <span style ="font-weight:bolder">Lifetime Guarantee</span> on leaks.</li>
            <li>Windshield leak repair. Will figure out where the leak is coming from. Based on the damage, we can apply urethane to seal the leak, or in rare cases the windshield will need to be replaced.  </li>
            <li>Windshiled Chip Repair</li>
        </ol>
    </div>

</div><!--end of container-->

<div class = "container about">
    
    <h2>Locations</h2>
    <div>
        <p style = "font-size: 16px; font-weight: normal;">Give us a call if you're unsure. We will be honest and let you know if you're too far or negoitiate a fee for the long distance.  Really depends, and don't be scared to ask.  </p>
        <ul>
            <li><span style ="font-weight:bolder">Greater Austin Area</span></li>
            <li><span style ="font-weight:bolder">South of Austini:</span> Buda, Kyle New Branufels, San Marcos, Seguin, Luling</li>
            <li><span style ="font-weight:bolder">North of Austin:</span> Georgetown, Jarrrel, Florence, Killeen, Lampasas</li>
        </ul>
    </div>

</div><!--end of container-->


<div>
  <div></div>
</div>

<% include partials/footer %>
